.navbars{
    background-color: dodgerblue;
    height: 30px;
    padding: 30px;
    padding-bottom: 59px;
}

.link {
    text-decoration: none;
    color: #fff;
    padding: 38px;
    height: 30px;
    background-color: #333;
}

.cards {
    width: 60%;
    border: 1px solid #30bfbf;
    padding:50px;
    margin: 12px auto
}

.nolinks{
    text-decoration: none;
    color: #fff;
    padding: 38px;
    height: 30px;
}

.nolinks:hover{
    background-color: #333;
}

.inputt{
    padding: 10px;
    margin: 30px;
    border-bottom: 1px solid #adadad
}

button {
    background-color: dodgerblue;
    padding: 10px 40px 10px 40px;
    margin-left: 30px;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}